.nav__main {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  width: 100%;
  height: 56px;
  background-color: #2874f0;
  color: #f0f0f0;
  
}
.nav__main img{
  object-fit: contain;
  width:100px;
}
.nav__main  input {
  width: 564px;
  height: 35px;
  margin-right: 50px;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.nav__main p{
  font-weight: 600;
  cursor: pointer;
}

.nav__cart{
  display: flex;
  align-items: center;
}
.nav__item__more{
  display: flex;
  align-items: center;
}
.nav__item__more:hover .nav__item__expandmore{
  transform: rotate(180deg);
}
.nav__item__username{
  display: flex;
  align-items: center;
}
.nav__item__username:hover .nav__item__expandmore_user{
  transform: rotate(180deg);

}
.nav_main_logo{
  cursor: pointer;
}