.main{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.6);
    z-index: 6;
    overflow-y: hidden;
    top: 0;
    left: 0;
    
}

.smMenu{
    position: relative;
    height: 100vh;
    width: 75vw;
    background-color: #fff;
    box-shadow: 3px 0 8px 1px rgba(0,0,0,.4);
    animation-name: example;
    animation-duration: 0.3s;
}
@keyframes example {
    from {left: -1080px;}
    to {left: 0;}
  }
.header{
    padding: 0 16px;
    display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  column-gap: 20px;
  height: 56px;
  width: 100%;
  background: linear-gradient(30deg,#2874f0,#0065c5);
  color: #f0f0f0;
}
.userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userInfo>p{
    margin: 0;
    font-weight: 500;
}
.header>img{
    width: 24px;
}
.smMenuContainer{
    padding-left: 16px;
    border-bottom: 1px solid #e0e0e0;

}
@media (max-width: 768px) {
    .main{
      display: flex;
    }
}
.list{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

}
.itemList{
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #353535;
}
.itemList>img{
    margin-right: 12px;
    width: 14px;
}
.new{
    display: inline-block;
    background: #ff4343;
    color: #fff;
    padding: 1px 4px;
    font-size: 10px;
    border-radius: 2px;
    margin-left: 5px;
}
.navbg{
    width: 30%;
    height: 100%;
}