.main {
    margin: 0 auto;
    max-width: 1680px;
    padding: 0 8px 8px 8px;
    display: flex;
    flex-flow: row;
}

.filterBar {
    flex: 0 0 270px;
    max-width: 270px;
    margin: 0 10px 0 0;
    background: #fff;
    color: #212121;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    border-radius: 2px;
}

.heading {
    font-size: 18px;
    font-weight: 500;
    padding: 18px;
    border-bottom: solid 1px #f0f0f0;
}

.categories {
    padding: 16px;
    border-bottom: solid 1px #f0f0f0;

}

.categories>h2 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 5px;
}

.categories>p {
    font-size: 14px;
    color: #717171;
    padding: 5px 0 0 10px;
    margin-bottom: 5px;
}

.categories>ul {
    font-size: 14px;
    list-style: none;
}

.categories>ul>li {
    padding-bottom: 5px;
}

.price {
    padding: 16px;
    border-bottom: solid 1px #f0f0f0;
}

.price>h2 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 5px;
}

.price>p {
    text-align: center;
}

.price>p>span {
    margin: 2px 7px;
}

.mainBar {
    flex-grow: 1;
    overflow: auto;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    border-radius: 2px;
}

.accordion {
    width: 100%;
    border-radius: 0 !important;
}

.supercoin {
    padding: 16px;

    display: flex;
    align-items: center;
    border-bottom: solid 1px #f0f0f0;

}
.fassured{
    padding: 16px;
display: flex;
align-items: center;
    border-bottom: solid 1px #f0f0f0;

}
.delivery1day{
    padding: 16px;
display: flex;
align-items: center;
    border-bottom: solid 1px #f0f0f0;
    font-size: 14px;
}

.supercoinprice {
    margin: 0 !important;
    font-size: 13px;
    font-weight: 500;
}

.supercoinbal {
    margin: 0 !important;
    font-size: 12px;
    color: #878787;
    
}

.checkbox{
    display: inline-block;
    padding-right: 8px;
}
.customerratings{
    padding: 16px;
    font-size: 14px;
    border-bottom: solid 1px #f0f0f0;

}
.customerratings>h2 {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 16px;
}
.customerratings>div{
    display: flex;
    align-items: center;
}

.mainBar__header{
    padding: 12px 16px 0;
}
.pagenation{
    font-size: 12px;
    color: #878787;
}
.mainBar__title{
    margin: 12px 16px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.mainBar__title>h2{
    font-size: 16px;
    color: #212121;
    margin: 0;
}
.mainBar__title>p{
    font-size: 12px;
    color: #878787;
    margin: 0;
}
.mainBar__shortBy{
    font-size: 14px !important;
    margin: 4px 16px 0;
    display: flex;
    align-items: center;
}
.mainBar__shortBy>h2{
    font-size: 14px;
    padding: 8px 10px 4px 0;
    margin: 0;
}
.mainBar__shortBy>p{
    padding: 8px 0 4px;
    margin: 0 10px;
}
.mainBar__shortBy>.active{
    color: #2874f0;
    border-bottom: 2px solid #2874f0;
    font-weight: 500;
}
.itemsContainer{
    width: 100%;
    display: inline-grid;;
    grid-template-columns: 25% 25% 25% 25%;
}

/* //////responsive */
  
  /* xl */
  @media (max-width: 1280px) {
    .itemsContainer {
        grid-template-columns: 33% 33% 33%;
    }
  }

   /* lg */
   @media (max-width: 1024px) {
    .itemsContainer {
        grid-template-columns: 50% 50%;
    }
  }

   /* md */
   @media (max-width: 768px) {
    .itemsContainer {
        grid-template-columns: 100%;
    }
  }
 
    /* sm */
    @media (max-width: 640px) {
        .filterBar{
            display: none;
        }
      }
.item{
    margin: 0 auto;
}
.item:hover{
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);

}
.itemHolder{
    padding: 16px;
}
.itemImageholder{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.itemImageholder img{
    margin: 25px 0;

}
.markFavourite{
    position: absolute;
    top: 0;
    right: 0;
}
.itemTitle{
    font-size: 14px;
    columns: #212121;
    cursor: pointer;
    padding-bottom: 4px;
}
.itemDesc{
    font-size: 12px;
    columns: #878787;
    padding-bottom: 4px;
}
.starRating {
    margin-top: 0;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  .starIcon {
    position: relative;
  }
  .starIcon > div {
    line-height: normal;
    display: flex;
    width: 30px;
    height: 19px;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
  }
  .starIcon > div > img {
    margin: 2px 0 0 2px;
    height: 10px;
  }
  
.rating {
    font-size: 14px;
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
  }
  .itemPrice {
    padding-top: 7px;
  }
  .itemPrice > span:nth-child(1) {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
  }
  .itemPrice > span:nth-child(2) {
    display: inline-block;
    margin-left: 8px;
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
  }
  .itemPrice > span:nth-child(3) {
    display: inline-block;
    margin-left: 8px;
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }