
.categoryListContainerSm{
  background: linear-gradient(rgb(210,221,254), rgb(206, 217, 253));
  display: none;
  flex-direction: column;
  margin: 8px 0 4px 0;
  user-select: none;
}
.smlistHead{
  background: url('https://rukminim1.flixcart.com/fk-p-reco/800/200/images/Recco_Vday_ced9fd.jpg?q=90');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
}
.smlistHead h4{
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  margin: 0;
}
.smlistViewAll a{
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  transition: box-shadow 0.2s ease;
  vertical-align: super;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: 1px solid #e0e0e0;
}
.smlistItems{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0 12px 4px 12px;

}
.itemOne{
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
  /* sm */
  @media (max-width: 640px) {
    .itemOne{
      grid-template-columns: 50% 50%;
    }
  }

.smItemCard{
  background-color: white;
  margin: 4px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* padding: 8px 20px 8px 20px; */

}
.smItemImg{
  width: 160px;
  margin: 0 auto;
}

.smItemImgContainer{
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 160px;
}
.smItemImgContainer>img{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}
.smItemCard>p{
  color: rgba(32,34,36,1.00);
  line-height: 16px;
  font-size: 12px;
  margin: 0;
}
.smItemCard>h4{
  color: rgba(0,140,0,1.00);
  margin-top: 2px;
  line-height: 18px;
  font-size: 14px;
}
  /* md */
  @media (max-width: 820px) {
    .categoryListContainer{
      display: none !important;
    }
    .categoryListContainerSm{
      display: flex;
    }
  }
.categoryListContainer {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin:10px 0;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.mainImage {
  width: 200px;
  min-width: 200px;
  background-position: 0px bottom;
  background-repeat: no-repeat;
  
}
.mainName {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px 10px 124px;
}
.mainName>h4{
  font-size: 30px;
  font-weight: 400;
  line-height: 1.38;
}
.viewAll {
  margin-top: 24px;
}
.viewAllUrl {
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow 0.2s ease;
  vertical-align: super;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: 1px solid #e0e0e0;
}
.viewAllUrl:hover {
  color: #fff;
}
.categoryList {
  position: relative;
  overflow: hidden;
}
.categoryListChild {
  position: relative;
  display: flex;
  overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.categoryListChild::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categoryListChild {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.category {
  background-color: #fff;
  width: 232px;
  display: flex;
  flex-direction: column;
}
.categoryUrl {
  padding: 25px 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 366px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

.categoryImage {
  width: 200px;
}
.categoryImgContainer {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.categoryImgContainer > img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}
.itemName {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.priceRange {
  color: #388e3c;
  padding-top: 8px;
  font-size: 16px;
}
.itemCategory {
  color: #000;
  opacity: 0.6;
  padding-top: 7px;
}

.categoryListprev {
  position: absolute;
  top: 40%;
  padding: 30px 8px;
  outline: none;
  border: none;
  border-radius: 0 7px 7px 0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.categoryListnext {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 30px 8px;
  outline: none;
  border: none;
  border-radius: 7px 0 0 7px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
