.body__margin__gap{
    margin: 0 5px;
}
.MuiSlider-thumb{
    color: #fff !important;
    border: 1px solid #a6a4a4;
    height: 16px !important;
    width: 16px !important;
}
.MuiSlider-rail{
    height: 2px !important;
    color: #4f4f4f !important;
} 
.MuiSlider-track{
    height: 6px !important;
}
.css-qivjh0-MuiStepLabel-label.Mui-completed{
  font-size: 12px !important;
  color: #26a541 !important;
}
.css-qivjh0-MuiStepLabel-label.Mui-active {
  font-size: 12px !important;
  color: #26a541 !important;

}
.css-zpcwqm-MuiStepConnector-root{
width: 88% !important;
left: calc(-45% ) !important;
}
.css-qivjh0-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
  font-size: 12px !important;
}
.css-z7uhs0-MuiStepConnector-line{
  border-color: #26a541 !important;
  border-top-width: 3px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
  color: #26a541 !important;
  width: 15px !important;

}

/* //////responsive */
/* sm */
@media (max-width: 640px) {
    .smHidden {
      display: none !important;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .mdHidden {
      display: none !important;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .lgHidden {
      display: none !important;
    }
  }
  
  
  /* xl */
  @media (max-width: 1280px) {
      .xlHidden {
          display: none !important;
        }
  }